* {
  margin: 0;
  padding: 0;
  /* border:1px  solid red; */
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (max-width: 550px) {
  body .app-header {
    width: 100%;
  }
  body .main-container {
    width: 100%;
  }
  body .form-country {
    width: 100%;
    padding: 20px 0;
  }
  body .form-country .form-country__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  body .form-country__inputs input {
    padding: 10px 5px;
  }
  body .form-country__inputs label {
    bottom: 20%;
  }
  .form-country > button {
    margin-left: 20px;
  }

  body .content-table {
    width: 100%;
  }
  body .content-table th,
  body .content-table td {
    padding: 15px 10px;
  }
  body .content-table button {
    padding: 10px;
  }
}
